C# Web Service/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addIntegers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstInteger" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondInteger" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addIntegersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addIntegersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtractIntegers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstInteger" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondInteger" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtractIntegersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subtractIntegersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addIntegersSoapIn">
    <wsdl:part name="parameters" element="tns:addIntegers" />
  </wsdl:message>
  <wsdl:message name="addIntegersSoapOut">
    <wsdl:part name="parameters" element="tns:addIntegersResponse" />
  </wsdl:message>
  <wsdl:message name="subtractIntegersSoapIn">
    <wsdl:part name="parameters" element="tns:subtractIntegers" />
  </wsdl:message>
  <wsdl:message name="subtractIntegersSoapOut">
    <wsdl:part name="parameters" element="tns:subtractIntegersResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorServiceSoap">
    <wsdl:operation name="addIntegers">
      <wsdl:input message="tns:addIntegersSoapIn" />
      <wsdl:output message="tns:addIntegersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subtractIntegers">
      <wsdl:input message="tns:subtractIntegersSoapIn" />
      <wsdl:output message="tns:subtractIntegersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorServiceSoap" type="tns:CalculatorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addIntegers">
      <soap:operation soapAction="http://tempuri.org/addIntegers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtractIntegers">
      <soap:operation soapAction="http://tempuri.org/subtractIntegers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorServiceSoap12" type="tns:CalculatorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addIntegers">
      <soap12:operation soapAction="http://tempuri.org/addIntegers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtractIntegers">
      <soap12:operation soapAction="http://tempuri.org/subtractIntegers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="CalculatorServiceSoap" binding="tns:CalculatorServiceSoap">
      <soap:address location="https://localhost:44350/CalculatorService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculatorServiceSoap12" binding="tns:CalculatorServiceSoap12">
      <soap12:address location="https://localhost:44350/CalculatorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>